<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso Vue.js</title>
</head>

<body>


    <div id="app">
        <h2>Agregar frutas</h2>
        <input type="text" v-model="nombreFruta" @keyup.enter="agregarFrutas" placeholder="Nombre"><br>
        <input type="text" v-model="cantidadFruta" @keyup.enter="agregarFrutas" placeholder="Cantidad"><br>
        <button @click="agregarFrutas">Agregar</button>
        <ul>
            <li v-for="fruta of frutas">{{fruta.nombre}} - {{fruta.cantidad}}
                <span v-if="fruta.cantidad == 0">Sin Stock</span>
            </li>
        </ul>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>